/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    
  }
  img {
    max-width: 100%;
    height: auto;
    z-index: -10;
    display: absolute;
  }

  


.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #8B0000; /* Changed to dark red */
  color: white;
  box-shadow: 0 50px 10px 10px black;
}

.header-left a,
.header-right a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.containerForImageAndButton{
  position: relative;
  height: 100vh;
}
.main-content {
  height: 100%;
  width: 100%;
  background-image: url("../loginPageImg.png");
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}

.create-account {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red; /* Changed to orange */
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  filter:none;
  z-index: 10;
}

.create-account:hover {
  background-color: rgb(246, 84, 84);
}
.create-account:active {
  background-color: rgb(255, 0, 0);
}
