/* styles.css */
@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  
}
img {
  max-width: 100%;
  height: auto;
  z-index: -10;
  display: absolute;
}
.site-header {
  display: flex;
  position: sticky;
  top: 0;
z-index: 50;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: #a86304; /* Changed to dark red */
color: white;
box-shadow: 0 2px 10px 1px black;
}

.header-left a,
.header-right a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.containerForImageAndButton{
  position: relative;
  height: 100vh;
}
.main-content {
  height: 100%;
  width: 100%;
  background-image: url("../loginPageImg.png");
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}

.create-account {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: red; /* Changed to orange */
color: white;
border: none;
padding: 15px 30px;
font-size: 18px;
border-radius: 5px;
cursor: pointer;
filter:none;
z-index: 10;
}

.create-account:hover {
  background-color: rgb(246, 84, 84);
}
.create-account:active {
  background-color: rgb(255, 0, 0);
}
.guidelines{
  padding: 1.2rem;
  position: fixed;
  top: -500px;
  left: 50%;
  translate: -50% -50%;
  font-size: 10px;
  background-color:#EFDFBB;
  color:rgb(66, 66, 66);
  aspect-ratio: 2;
  max-width: 500px;
  width: 60%;
  z-index: 102;
  border-radius: 0.6rem;
  transition: 0.35s ease-in-out;
}

.guidelinesShow{
  top: 50%;
}
.loginContainer{
  padding: 1.2rem;
  position: fixed;
  top: -500px;
  left: 50%;
  translate: -50% -50%;
  font-size: 10px;
  background-color:#EFDFBB;
  color:rgb(66, 66, 66);
  aspect-ratio: 2;
  max-width: 300px;
  width: 60%;
  z-index: 102;
  border-radius: 0.6rem;
  transition: 0.35s ease-in-out;
}
.loginContainerShow{
  top: 50%;
}
.modalOverlay{
  width: 100%;
  position: fixed;  
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);   
  z-index: 101;
}
.createContainer{
  padding: 1.2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color:#EFDFBB;
  color:rgb(66, 66, 66);
  aspect-ratio: 2;
  max-width: 400px;
  height: 250px;
  z-index: 101;
  border-radius: 0.6rem;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out;
  
}
.createContainerShow{
  transform: translate(-50%, -50%) scale(1);
}